.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
}

.app-main .app-mian-link {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: underline;
}
.app-main .app-mian-link-active {
  font-weight: bold;
  color: #42b983;
  text-decoration: underline;
}

.app-title {
  font-size: 30px;
  margin: 0;
  margin-bottom: 32px;
}

.app-lib {
  font-size: 16px;
  color: #2c3e50;
}

.app-nav-item {
  margin-top: 16px;
  padding: 12px 24px;
  border: 2px solid #2c3e50;
}
